<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    {% include '/includes/navbar.html.twig' %}
    <div class="jumbotron">
        <h1 class="center">Fantasy Football Draft Tool</h1>
    </div>
    <div class="container">
        <h2 class="center">Most Consistent Players</h2>
        <div class="row">
            {% if players is not empty %}
                <div class="quarterbacks col-xs-2">
                    <h4>Quarterbacks</h4>
                    {% for player in players | sort %}
                        {% if player.getPositionId == 1 and player.getConsistency > 82 %}
                            <a class="block" href="/players/{{ player.getId }}">{{ player.getName }} - {{ player.getTeamAbbreviation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="runningbacks col-xs-2">
                    <h4>Running Backs</h4>
                    {% for player in players | sort %}
                        {% if player.getPositionId == 2 and player.getConsistency > 82 %}
                            <a class="block" href="/players/{{ player.getId }}">{{ player.getName }} - {{ player.getTeamAbbreviation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="receivers col-xs-2">
                    <h4>Wide Receivers</h4>
                    {% for player in players | sort %}
                        {% if player.getPositionId == 3 %}
                            <a class="block" href="/players/{{ player.getId }}">{{ player.getName }} - {{ player.getTeamAbbreviation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="tightends col-xs-2">
                    <h4>Tight Ends</h4>
                    {% for player in players | sort %}
                        {% if player.getPositionId == 4 %}
                            <a class="block" href="/players/{{ player.getId }}">{{ player.getName }} - {{ player.getTeamAbbreviation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="defenses col-xs-2">
                    <h4>Defense/Special Teams</h4>
                    {% for player in players | sort %}
                        {% if player.getPositionId == 5 %}
                            <a class="block" href="/players/{{ player.getId }}">{{ player.getName }} - {{ player.getTeamAbbreviation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="kickers col-xs-2">
                    <h4>Kickers</h4>
                    {% for player in players | sort %}
                        {% if player.getPositionId == 6 %}
                            <a class="block" href="/players/{{ player.getId }}">{{ player.getName }} - {{ player.getTeamAbbreviation }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <h2>No Players Available Yet</h2>
            {% endif %}
        </div>
    </div>
    <footer>
        {% include '/includes/footer.html.twig' %}
    </footer>
</body>
</html>
