<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    {% include '/includes/navbar.html.twig' %}
    <div class="jumbotron">
        <h1 class="center">Fantasy Football Draft Tool</h1>
    </div>
    <div class="container">
            <img class="player-photo" src="/../img/{{ player.getPhotoUrl }}" alt="{{ player.getName }}" />
            <h2>{{ player.getName }}</h2>
            <p>{{ player.getPosition }} - {{ player.getTeam }}</p>

    </div>
    <footer>
        {% include '/includes/footer.html.twig' %}
    </footer>
</body>
</html>
