<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    {% include '/includes/navbar.html.twig' %}
    <div class="jumbotron">
        <h1 class="center">Fantasy Football Draft Tool</h1>
    </div>
    <div class="container row">
        <div class="col-xs-4">
            <img class="player-photo" src="/../img/players/{{ player.getPhotoUrl }}" alt="{{ player.getName }}" />
            <h2>{{ player.getName }}</h2>
            <p>{{ player.getPosition }} - {{ player.getTeam }}</p>
        </div>
        <div class="col-lg-8">
            <table class="table">
                <th>
                    2015 Avg
                </th>
                <th>
                    Consistency Score
                </th>
                <tr>
                    <tbody>
                        <td>
                            {{ player.getAvg2015 }}
                        </td>
                        <td>
                            {{ player.getConsistency }}
                        </td>
                    </tbody>

                </tr>
            </table>
        </div>

    </div>
    <footer>
        {% include '/includes/footer.html.twig' %}
    </footer>
</body>
</html>
